html,
body {
    background: white;
    height: 100%;
    width: 100%;
}

.cart {
    background: white
}

.cart .clear {
    clear: both;
}

.cart .clearfix {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.cart .fr {
    float: right;
}

.cart .fl {
    float: left;
}

.cart .verticalAlign {
    vertical-align: middle;
}

.cart .head {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-size: 20px;
    z-index: 100;
}

.cart .head .mt {
    margin-top: 15px;
}

.cart .head .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(https://zos.alipayobjects.com/rmsportal/RfxDFanyfhEhOkynbPXizskAQqkPmPkR.png);
    background-size: cover;
    margin: 15px 10px 0 0;
}

.cart .footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #f1f1f1;
    z-index: 100;
    text-align: justify
}

.cart .footer .margin1 {
    margin: 0 10px;
}

.cart .footer .margin2 {
    margin: 10px;
}