.Goodslistl .clearfix:before,
.Goodslistl .clearfix:after {
    /*清楚浮动*/
    content: "";
    display: table;
}

.Goodslistl .clearfix:after {
    clear: both;
}

.Goodslistl .clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

.Goodslistl li {
    height: auto;
    line-height: 0;
}


.Goodslistl .wap-top-bar {
    position: relative;
    z-index: 20;
}

.Goodslistl .proListbox {
    background: #fff;
}

.Goodslistl .bgfff {
    background: #fff;
}

.Goodslistl .head-top {
    height: 50px;
    line-height: 50px;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #f3f3f3;
}

.Goodslistl .ftc {
    text-align: center;
}

.Goodslistl .left-more {
    margin: 0;
    position: absolute;
    left: 5px;
    width: 35px;
    height: 35px;
    top: 7px;
    background: url(https://static.epetbar.com/static_web/wap/dist/images/background/topIco.png) 0 0 no-repeat;
    background-size: 35px auto;
    background-position: 0 0;
}

.Goodslistl .topbar-title {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.Goodslistl .search-wrap {
    position: relative;
    z-index: 20;
}

.Goodslistl .search {
    background: #f6f6f6;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    flex: 1;
    -webkit-flex: 1;
}

.Goodslistl .rela {
    position: relative;
}

.Goodslistl .pl10,
.pl {
    padding-left: 10px;
}

.Goodslistl .pr10,
.Goodslistl .pr {
    padding-right: 10px;
}

.Goodslistl .search i {
    width: 20px;
    height: 20px;
    background-size: 200px auto;
    background-position: -51px -76px;
    margin: 8px 0 0 4px;
}

.Goodslistl .brands-ico {
    background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;
}

.Goodslistl .fl,
.Goodslistl .pull-left {
    float: left;
}

.Goodslistl .search .search-text {
    margin-left: 15px;
}

.Goodslistl .ft14 {
    font-size: 14px;
}

.Goodslistl .c666 {
    color: #666;
}

.Goodslistl .search .search-text input {
    height: 40px;
    border-radius: 3px;
    border: none;
    background: #f6f6f6;
    font-family: "Microsoft Yahei", tahoma, arial;
    padding: 0px;
    outline: none;
    width: 90%;
    text-indent: 5px;
}

.Goodslistl .bbt {
    position: relative;
}

.Goodslistl .w100 {
    width: 100%;
}

.Goodslistl .overflow {
    overflow: hidden !important;
}

.Goodslistl ul,
.Goodslistl li {
    list-style: none;
}

.Goodslistl .screening li {
    line-height: 40px;
}

.Goodslistl .w25 {
    width: 25%;
}

.Goodslistl .fl,
.Goodslistl .pull-left {
    float: left;
}

.Goodslistl .ftc {
    text-align: center;
}

.Goodslistl .screening li.current a {
    color: #41C856;
}

.Goodslistl .ft14 {
    font-size: 14px;
}

.Goodslistl .relative,
.Goodslistl .rela {
    position: relative;
}

.Goodslistl .select3 a {
    color: black;
}

.Goodslistl .brands-list li {
    position: relative;
    padding-right: 17px;
}

.Goodslistl .pl10,
.Goodslistl .pl {
    padding-left: 10px;
}

.Goodslistl .pb10 {
    padding-bottom: 10px;
}

.Goodslistl .pt10 {
    padding-top: 10px;
}

.Goodslistl .index-listimg {
    width: 100px;
    height: 100px;
}

.Goodslistl .loadimg-fixed {
    position: relative;
}

.Goodslistl .loadimg-fixed .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Goodslistl .bgfff {
    background: #fff;
}

.Goodslistl .index-listpro {
    margin-left: 110px;
}

.Goodslistl .ft12 {
    font-size: 12px;
}

.Goodslistl .el2 {
    height: 32px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.Goodslistl .list_libox li .cu,
.Goodslistl .dtlist_libox li .cu {
    height: 25px;
}

.Goodslistl .mt5 {
    margin-top: 5px;
}

.Goodslistl .ft12 {
    font-size: 12px;
}

.Goodslistl .dib {
    display: inline-block;
}

.Goodslistl .cu span img {
    height: 17px;
}

.Goodslistl .ft14 {
    font-size: 14px;
}

.cred {
    color: #FF5757;
}

.Goodslistl .ml10 {
    margin-left: 10px;
}

.Goodslistl .ft12 {
    font-size: 12px;
}

.Goodslistl .c999 {
    color: #999;
}

.Goodslistl .addcart {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 30px;
    z-index: 0;
}

.Goodslistl .thisimg img {
    width: 100%;
}

.Goodslistl .brands-list {
    width: 100%;
}

.Goodslistl a {
    color: #333;
}