.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.wap-top-bar {
    position: relative;
    z-index: 20;
}
.proListbox{
    background: #fff;
}
.bgfff {
    background: #fff;
}
.head-top {
    height: 50px;
    line-height: 50px;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #f3f3f3;
}
.ftc {
    text-align: center;
}
.left-more {
    margin: 0;
    position: absolute;
    left: 5px;
    width: 35px;
    height: 35px;
    top: 7px;
    background: url(https://static.epetbar.com/static_web/wap/dist/images/background/topIco.png) 0 0 no-repeat;
    background-size: 35px auto;
    background-position: 0 0;
}
.topbar-title {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.search-wrap {
    position: relative;
    z-index: 20;
}
.search {
    background: #f6f6f6;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    flex: 1;
    -webkit-flex: 1;
}
.rela {
    position: relative;
}
.pl10, .pl {
    padding-left: 10px;
}
.pr10, .pr {
    padding-right: 10px;
}
.search i {
    width: 20px;
    height: 20px;
    background-size: 200px auto;
    background-position: -51px -76px;
    margin: 8px 0 0 4px;
}
.brands-ico {
    background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;
}
.fl, .pull-left {
    float: left;
}
.search .search-text {
    margin-left: 15px;
}
.ft14 {
    font-size: 14px;
}
.c666 {
    color: #666;
}
.search .search-text input {
    height: 40px;
    border-radius: 3px;
    border: none;
    background: #f6f6f6;
    font-family: "Microsoft Yahei",tahoma,arial;
    padding: 0px;
    outline: none;
    width: 90%;
    text-indent: 5px;
}
.bbt {
    position: relative;
}
.w100 {
    width: 100%;
}
.overflow {
    overflow: hidden!important;
}
ul, li {
    list-style: none;
}
.screening li {
    line-height: 40px;
}
.w25 {
    width: 25%;
}
.fl, .pull-left {
    float: left;
}
.ftc {
    text-align: center;
}
.screening li.current a {
    color: #41C856;
}
.ft14 {
    font-size: 14px;
}
.relative, .rela {
    position: relative;
}
.select3 a{
    color: black;
}
.brands-list li {
    position: relative;
    padding-right: 17px;
}
.pl10, .pl {
    padding-left: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pt10 {
    padding-top: 10px;
}
.index-listimg {
    width: 100px;
    height: 100px;
}

.loadimg-fixed {
    position: relative;
}
.loadimg-fixed .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bgfff{
    background: #fff;
}
.index-listpro {
    margin-left: 110px;
}
.ft12 {
    font-size: 12px;
}
.el2 {
    height: 32px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.list_libox li .cu, .dtlist_libox li .cu {
    height: 25px;
}
.mt5 {
    margin-top: 5px;
}
.ft12 {
    font-size: 12px;
}
.dib {
    display: inline-block;
}
.cu span img {
    height: 17px;
}
.ft14 {
    font-size: 14px;
}
.cred {
    color: #FF5757;
}
.ml10 {
    margin-left: 10px;
}
.ft12 {
    font-size: 12px;
}
.c999 {
    color: #999;
}
.addcart {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 30px;
    z-index: 0;
}
.thisimg img {
    width: 100%;
}
.brands-list{
    width: 100%;
}
a {
    color: #333;
}